@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    background-image: linear-gradient(60deg,#ff3a7c,#741eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius:8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #888;
  }  
